#lmain{
  margin:auto;
  justify-content: center;
  display: flex;

}
.filterdiv{
  margin-top: 5%;
  margin-left: 2%;
  margin-bottom: 5%;
  width:20%;
  height: 100vh; 
  border-radius: 6px;
  box-shadow: 2px 3px 4px 3px;
  overflow-y: scroll; 
 
}
/*-----------Scrollbar Setting-----------*/
/* width */
::-webkit-scrollbar {
width: 5px;
padding-left: 2px;
}

/* Track */
::-webkit-scrollbar-track {
box-shadow: inset 1 2 5px rgb(255, 255, 255); 
border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
background:rgb(255, 254, 254); 
border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #aaa7a7; 
border-radius: 10px;
}



.car-brands{
  width:70%;
  margin-left: 10%;

}
summary{
  font-size: 20px;
  padding: 10px 5px;
}


.car-brand-label {
  display: block;
  margin-bottom: 8px;
}

.checked-brands {
  margin-top: 20px;
}

.checked-brands ul {
  list-style-type: none;
  padding: 0;
}

.checked-brands ul li {
  margin-bottom: 8px;
}

/*---------------listing div cards------------------------*/
.listdiv{
  margin-top: 3%;
  margin-left: 2%;
  margin-bottom: 5%;
  /* background-color: aqua; */
  width:70%;
  display: flex;
  flex-wrap: wrap;
}

.cards{
  height:60vh;
  width:21vw;
  margin-top: 3%;
  border-radius: 6px;
  box-shadow: 2px 3px 4px 3px;
  margin-left: 2%;

}
.card-img{
  height:50%;
  width:100%;
  cursor: pointer;
 
}
.card-detail{
  height:50%;
  width:100%;
 
}

.card-img img{
  height:100%;
  width:100%
}

/*---------------details div heading------------------------*/
.car-head{
  text-align: center;
  
  height:25%;
  width:100%
}
.car-head a{
    color: black;
    font-weight: bold;
    font-size: 20px;
}
/*---------------other details------------------------*/
.car-details{
  text-align: center;

  margin-bottom: 5%;
  height:15%;
  width:100%;
  display: flex;
  justify-content: center;
}

.car-details span {
  background-color: #a89f9f;
  color: rgb(0, 0, 0);
  border-radius: 3px;
  font-size: 14px;
  padding: 3px 3px;
  margin-left: 3%;
  
  }

/*---------------rate div setting------------------------*/
  .car-rate{
    text-align: center;
    height:20%;
    width:100%;
    display: flex
  }
  .cr-emi{
    width:40%;
    margin-left: 5%;
    text-align: left;
  }
  .cr-rate{
    width:40%;
    margin-right: 5%;
    text-align: right;
  }

  .cr-opt{
    height:20%;
    width:100%;
    font-weight:bold;   
    color: #8a8383; 
  }
  .cr-opt1{
    width:40%;
    margin-left: 5%;
    margin-top: -5%;
    font-size: 12px;
    float: left;
    /* background-color: aqua; */
  }
  .cr-opt2{
    width:40%;
    /* background-color: rgb(42, 51, 51); */

    margin-left: 5%;
    margin-top: -5%;
    font-size: 12px;
    text-align: center;
    float: left;
  }
  /*---------------adress div setting------------------------*/
.car-address{
  text-align: center;
  height:10%;
  margin-top: -3%;
  width:100%;
  color: #8a8383;
}