.login-container {
    max-width: 400px;
    margin:5% auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  .login-container h1{
    text-align: center;
    background-image: linear-gradient(to left,#ece6da,#afae65,#5eb65b,#0a6b36,#042a36)!important;
    }
  
  .input-container {
    margin-bottom: 15px;
  }
  
  input[type="email"],
  input[type="password"] {
    width: 100%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  /* ...password... */

.password-toggle {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
  }
  
  .password-toggle i {
    font-size: 18px;
  }
  
  .password-toggle.active i {
    color: #007bff;
  }
  
  /* ...rest of the styles... */
  
  
  .link-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
  }
  
  .link-container a {
    color: #007bff;
    text-decoration: none;
  }
  
  .button-container {
    display: flex;
    justify-content: space-between;
  }
  
  .login-button,
  .cancel-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .login-button {
    background-color: #449f4f;
    
    color: #fff;
  }
  
  .cancel-button {
    background-color: #ccc;
    color: #000;
  }

  .error-message {
    color: red;
    margin-top: 5px;
    font-size: 14px;
  }
  
  @media (max-width: 480px) {
    .login-container {
      width: 100%;
    }
  }
  